@page "/AvailableRoomTypes"

@using HotelFinal.Client.Services;
@using HotelFinal.Shared;
@inject HotelService service
<h3>RoomType</h3>

<h2>Here are the room types our hotel offers</h2>

<div class="row">
    @foreach(var roomType in types)
    {
        <div class="col-3 my-2">
            <div class="card">
                <div class="card-header">@roomType.RType</div>
                <div class="card-body">
                    <p>
                        $@roomType.BaseRentalRate
                    </p>
                    <p>
                        @(roomType.Smoking ? "Smoking" : "Non Somking")
                    </p>
                </div>
            </div>
        </div>
    }
</div>

@code {
    public List<RoomType> types { get; set; } = new();
    public async Task GetAllRoomTypes()
    {
        types = await service.GetAllRoomTypesAsync();
    }

    protected override async Task OnInitializedAsync()
    {
        types = await service.GetAllRoomTypesAsync();
    }
}
