@page "/BookingReservation"
@using Syncfusion.Blazor.Calendars
<h3>Find A Room</h3>

<AuthorizeView>
    <Authorized>

    </Authorized>
</AuthorizeView>

<SfDateRangePicker TValue="DateTime?" Placeholder="How Long Are You Staying?" ShowClearButton="true"></SfDateRangePicker>
<i class="bi bi-search">Hello</i>
@code {

}
