@page "/BookingReservation"
@using HotelFinal.Shared;
@using HotelFinal.Client.Services
@using Syncfusion.Blazor.Calendars
@using HotelFinal.Client.Components
@inject HotelService hotelService
<h3>Find A Room</h3>

<AuthorizeView>
    <Authorized>

    </Authorized>
</AuthorizeView>

<div class="row mb-2">
    <div class="col-11 my-auto">
        <SfDateRangePicker TValue="DateTime?"
            Placeholder="How Long Are You Staying?"
            ShowClearButton="true"
            @bind-StartDate=Checkin
            @bind-EndDate=Checkout />
    </div>
    <div class="col-1 btn btn-primary my-auto" @onclick=GetAvailableRoomTypes>
        <i class="bi bi-search"></i>
    </div>
</div>
@if (RoomTypes is not null)
{
    <div class="row">
        @foreach (var type in RoomTypes)
        {
            <div class="col-3">
                <RoomTypeCard RoomType=type></RoomTypeCard>
            </div>
        }
    </div>
}


@code {
    public DateTime? Checkin { get; set; }
    public DateTime? Checkout { get; set; }
    public List<RoomType> RoomTypes { get; set; }

    public async Task GetAvailableRoomTypes()
    {
        RoomTypes = await hotelService.GetAvailableRoomTypesAsync(Checkin.Value, Checkout.Value);
    }
}
