@page "/reservationInfo"
@using Services;
@using HotelFinal.Shared
@inject HotelService service
<h3>ReservationInfo</h3>

<AuthorizeView Roles="Administrator">
    <Authorized>
        
    </Authorized>
</AuthorizeView>

@code {
    public List<Reservation> reservationList { get; set; } = new();
    public List<Guest> guestIds { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        reservationList = await service.GetAllReservationAsync();
        guestIds = await service.GetAllGuestAsync();
    }

}
