@page "/reservationInfo"
@inject HotelServices service
<h3>ReservationInfo</h3>

<AuthorizeView Roles="Administrator">
    <Authorized>
        
    </Authorized>
</AuthorizeView>

@code {
    public list<Reservation> reservationList { get; set; } = new();
    public list<Guest> guestIds { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        reservationList = await GetAllReservationAsync();
        guestIds = await GetAllGuestAsync();
    }

}
